# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Environment Variables & Secrets
.env
**/.env
.env.*
!.env.example
!**/.env.example

# Node
node_modules/
dist/
build/
.DS_Store

# IDE
.idea/
.vscode/
*.swp
